<footer class="footer">
  <div class="content has-text-centered">
    <p>
      &copy; <span id="year"></span>
    </p>
  </div>
</footer>
<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script> 